<!-- ******************* The Navbar Area ******************* -->
<div  id="wrapper-navbar"  class="wrapper-fluid wrapper-navbar " >
    {# <nav class="navbar navbar-expand-lg d-flex align-items-center h-100">
    
    </nav> #}
</div><!-- .wrapper-navbar end -->
